@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');
:root{
    --primary-color:#F2C94C;

}
body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

div{
    display: block;
    padding: 0.5rem;
}
nav{
    background-color: var(--primary-color);
    text-align: center;
    
}

#btn{
    background-color: var(--primary-color);
    color: black;
    font-size: large;
    padding: 0.8rem;
    border: none;
    display: block;
    margin: auto;
}

#txt-output{
    border: 1px solid black;
    margin: auto;
    padding: 0.5rem;
    width: 80%;
    height: 10vh;
    font-family: inherit;
    font-size: large;
}
textarea{
    width: 80%;
    min-height: 10vh;
    display: block;
    margin: auto;
    padding: 1rem;
    margin-top:1.5rem ;
    margin-bottom: 0.8rem;
    font-family: inherit;
    font-size: large;
}
.footer{
    background-color: var(--primary-color);
    padding: 2rem 4rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: block;
    border-top-right-radius: 1rem;
    color: white;
    
    }
    .footer .footer-lists{
    text-decoration: none;
    text-align: center;
    color:white;
    }
    .footer-links{
    text-decoration: none;
    color:white;
    cursor: pointer;
    
    }
    .footer ul {
    padding-inline-start: 0px;
    }
    .footer-div{
    text-align: center;
    font-weight: bold;
    
    }
    
    .list-inline{
    display: inline;
    
    padding: 0rem 1rem;
    }