@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');
:root{
    --primary-color:#F2C94C;

}
body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

div{
    display: block;
    padding: 0.5rem;
}
nav{
    background-color: var(--primary-color);
    text-align: center;
    
}

#btn{
    background-color: var(--primary-color);
    color: black;
    font-size: large;
    padding: 0.8rem;
    border: none;
    display: block;
    margin: auto;
}

#txt-output{
    border: 1px solid black;
    margin: auto;
    padding: 0.5rem;
    width: 80%;
    height: 10vh;
    font-family: inherit;
    font-size: large;
}
textarea{
    width: 80%;
    min-height: 10vh;
    display: block;
    margin: auto;
    padding: 1rem;
    margin-top:1.5rem ;
    margin-bottom: 0.8rem;
    font-family: inherit;
    font-size: large;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--primary-color);
    text-align: center;
    
}
footer p{
    margin: auto;
    text-align: center;
    max-width: 600px;

}